# Python
*.pyc
__pycache__/
venv/

# Environment variables
.env
.env.local

# Model cache
model_cache/
test_cache/
models/
*.bin
*.pt
*.pth

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.idea/

# Logs
logs/
*.log