# Python
*.pyc
__pycache__/
__pycache__/

# Environment variables
.env

# Logs
logs/
*.log

# Docker
docker-compose.override.yml

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pytorch/
cuda/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Model cache
model_cache/
test_model_cache/
.pytest_cache/
/test_model_cache
/test_cache/
